html{
    background-color: #f5f5f5;
}

body{
    margin: 0 auto;
    height: auto;
}

.copyRight{
    text-align: center;
    font-family: "Playfair Display", serif;
    font-size: 12px;
    opacity: 0.5;
    padding: 5px;
}

/* ------------Navigation------------- */

.inline-block{
    display: inline-block;
    vertical-align: top;
}

/* unvisited link */
a:link {
    color: black;
    text-decoration: none;
    font-family: "futura", sans-serif;
    text-transform: uppercase;
  }
  
  /* visited link */
a:visited {
    color: #68C7CE;
    text-decoration: none;
  }
  
  /* mouse over link */
a:hover {
    color: #007c84;
    text-decoration: none;
  }
  
  /* selected link */
a:active {
    color: rgb(125, 125, 125);
    text-decoration: none;
  }

.logo{
    width: 100%;
    padding: 1%;
    padding-top: 2%;
}

.logo img{
    width: 250px;
    padding-left: 40px;
}

nav{
    width: 73%;
    padding: 1%;
}

ul{
    width: 50%;
    margin-left: auto;
}

li{
    padding-left: 55px;
}

/* ------------Hero Section------------- */

.heroimg{
    display: flex;
    align-items: center;
    max-width: 80%;
    margin: 0 auto;
    font-size: 14px;
    font-family: "Playfair Display", serif;
}

.heroText{
    text-align: left;
    padding-right: 80px;
}

.floatRight{
    display: block;
    margin-left: auto;
    margin-right: auto;
    height: auto;
}

.floatLeft img{
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 60%;
    height: auto;
    border-radius: 15px;
}

button{
    padding: 10px 20px;
    margin-top: 5px;
    border: none;
    border-radius: 8px;
    text-align: center;
    display: inline-block;
    cursor: pointer;
    background-color: #007c84;
    color: white;
    text-decoration: none;
    font-family: "futura", sans-serif;
    font-size: 15px;
    
}

button:hover{
    background-color: #68C7CE;
    color: white;
    box-shadow: 0 6px 10px 0 rgba(0,0,0,0.24), 0 17px 40px 0 rgba(0,0,0,0.19);
}

/* ------------My Ux Skills------------- */

h1{
    background-color: #68C7CE;
    color: white;
    text-align: center;
    padding: 15px;
    font-family: "futura", sans-serif;
    text-transform: uppercase;
}

h3{
    margin: 0%;
    text-align: center;
    font-family: "futura", sans-serif;
    text-transform: uppercase; 
}

p{
    text-align: center;
    font-family: "Playfair Display", serif;
    font-size: 12.5px;
    line-height: 18px;
}

.flexContainer{
    display: flex;
}

#flexChild{
    margin: 10px;
    padding-inline: 60px;
    width: 30%;
    height: 350px;
}

#flexChild img{
    height: 100%;
    width: 100%;
}

/* ------------My Work------------- */

.workGrid{
    display: grid;
    grid-template-columns: auto auto;
    align-items: center;
}

.myWork{
    margin-top: 16%;
}

.Gridimg{
    padding-block: 20px;
}

.Gridimg img{
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 85%;
    height: auto;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.gridContent h4{
    font-family: "futura", sans-serif;
    text-transform: uppercase; 
}

.gridContent p{
    text-align: left;
    font-family: "Playfair Display", serif;
    padding-right: 25%;
}

/* ------------Footer------------- */

footer{
    background-color: #68C7CE;
    margin-top: 2%;
}

footer ul{
    display: inline-block;
    vertical-align: top;
}
    
@media only screen and (max-width: 680px) {
    .navigation .inline-block{
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .navigation ul{
        margin: 0;
        padding: 0;
        display: flex;
        justify-content: space-between;
        align-items: center;
    }

    .navigation li{
        padding: 0;
    }

    .navigation img{
        padding: 0;
    }

    .heroimg{
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .heroimg .heroText{ 
        text-align: center;
        padding-right: 0;
        font-size: smaller;
    }

    .flexContainer{
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    #flexChild{
        margin: 0;
        padding-inline: 0;
        height: auto;
    }

    .myWork{
        margin: 0;
    }

    .workGrid{
        grid-template-columns: auto;
        text-align: center;
    }

    .gridContent p{
        padding-right: 0;
        text-align: center;
        font-size: 13px;
        line-height: 20px;
        padding-inline: 60px;
    }

    .gridContent button{
        margin-bottom: 5%;
    }

}